mat-toolbar {
    background-color: #272727;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards;
    text-align: center;
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.project-description {
    color: white;
}