<app-cabecalho></app-cabecalho>

<div class="container">
  <div class="container-topo">
    <h1 class="titulo">Meus favoritos</h1>

    <!-- Filtros -->
    <div class="filtros">
      <mat-form-field class="campo-formulario" appearance="fill">
        <mat-label>Buscar por nome</mat-label>
        <input matInput [(ngModel)]="nameFilter" (input)="filtarPersonagens()" placeholder="Nome do personagem" />
      </mat-form-field>

      <mat-form-field class="campo-formulario" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select class="campo-formulario-select" [(ngModel)]="statusFilter" (selectionChange)="filtarPersonagens()">
          <mat-option value="all">Todos</mat-option>
          <mat-option value="alive">Vivo</mat-option>
          <mat-option value="dead">Morto</mat-option>
          <mat-option value="unknown">Desconhecido</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <app-loading [isLoading]="loading"></app-loading>

  <app-cards-personagens *ngIf="!loading" [personagens]="personagensFiltrados"
    (personagemRemovido)="onPersonagemRemovido($event)">
  </app-cards-personagens>

</div>

<app-rolar-para-topo></app-rolar-para-topo>
<app-rodape></app-rodape>