<app-cabecalho></app-cabecalho>

<div *ngIf="!loading && !error">
    <div class="container">
  
      <!-- Filtros -->
      <div class="filtros">
        <mat-form-field  style="border-radius: 10px;" appearance="fill">
          <mat-label>Buscar por nome</mat-label>
          <input matInput [(ngModel)]="nameFilter" (input)="filtarPersonagens()" placeholder="Nome do personagem" />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select style="border-radius: 10px;" [(ngModel)]="statusFilter" (change)="filtarPersonagens()">
            <mat-option value="all">Todos</mat-option>
            <mat-option value="alive">Vivo</mat-option>
            <mat-option value="dead">Morto</mat-option>
            <mat-option value="unknown">Desconhecido</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- Listagem de personagens -->
        <app-cards-personagens [personagens]="personagensFiltrados"></app-cards-personagens>

      <!-- Navegação entre páginas -->
      <mat-paginator class="centro" [length]="totalPages * 20" [pageSize]="20" [pageIndex]="currentPage - 1"
        (page)="onPageChange($event)">
      </mat-paginator>
      
    </div>
  </div>

<app-rodape></app-rodape>