// Importando o Angular Material
@import 'node_modules/@angular/material/theming';

// Definindo a cor primária como verde
$custom-primary: mat-palette($mat-green, 300);

$custom-accent: mat-palette($mat-green, 500); // Cor de destaque (opcional)

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);


.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    border-radius: 8px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-radius: 8px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-image: url('assets/1.png');
    background-position: center center;
}


* {
    font-family: "Special Elite", system-ui;
    font-weight: normal;
    font-style: normal;
}


/*css principal da home e favoritos*/
.filtros {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
}


.titulo {
    color: antiquewhite;
}

.container-topo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;

}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 86vh;
}

@media (max-width: 1200px) {

    .container {
        max-width: 900px;
    }
}

@media (max-width: 768px) {

    .container {
        padding-top: 80px;
    }

    .filtros {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container-topo {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}